* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(26, 24, 24);
    background: #f4efef;
}

#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;

    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);

    padding: 20px 40px;
    border-radius: 15px;

    width: 80%;
    max-width: 900px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 8px 12px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    background: white;
    color: black;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.hero-content {
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);

    padding: 35px 60px;
    border-radius: 15px;

    width: 80%;
    max-width: 900px;
}

.hero-content h1 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.3rem;
    margin-top: 10px;
    color: white;
}

section {
    padding: 64px 8%;
}

h2 {
    font-size: 32px;
    margin-bottom: 1.5rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

.skill:hover {
    background: black;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project-card {
    background: #222;
    padding: 1.5rem;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea, button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    background:black;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 20px;
        padding: 25px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 20px;

        background: rgba(0,0,0,0.8);
        padding: 20px;
        border-radius: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
